$text-color: white;
$font-style-content: Quicksand;
$font-style-heading: Poppins;

@mixin textInputDesign {
    margin-bottom: 3vh;
    border: none;
    border: 1px solid white;
    background:none;
    width: 70vh;
    padding: 1.5vh;
    color: $text-color;
    font-family: $font-style-heading;
}
@mixin titleStyle {
    font-family: $font-style-heading;
    font-weight: bold;
    font-size: 5vh;
    color: $text-color;
    margin-top: 10vh;
    margin-bottom: 12vh;
}

section.contact-us{
    .title{
        h1{
            @include titleStyle();
            margin-top: 30vh;
        }
    }
    .form{
        p{
            color: $text-color;
            font-family: $font-style-heading;
            font-size: 2.5vh;
            margin-bottom: 0.5vh;
            font-weight: 500;
        }
        input{
            @include textInputDesign();

        }
        textarea{
            @include textInputDesign();
            height: 26vh;
            resize: none;
        }
        button{
            padding: 1.5vh;
            color: $text-color;
            background:none;
            border: 1px solid white;
            border-radius: 1vh;
            font-family: $font-style-content;
            font-weight: bold
        }
    }
}

@media screen and (max-width:575px){
    section.contact-us{
        .title{
            h1{
                margin-top: 16vh;
                text-align: center;
            }
        }
        .form{
            p{
                text-align: center;
            }
            input,textarea,button{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            button{
                width: 20%;
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width:767px){
    section.contact-us{
        .form{
            button.send{
                font-size: 3vh;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    section.contact-us{
        .title{
            h1{
                margin-top: 16vh;
                text-align: center;
            }
        }
        .form{
            p{
                text-align: center;
            }
            input,textarea,button{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            button{
                font-size: 2.5vh;
                width: 20%;
            }
        }
    }
}

@media screen and (min-width:992px) and (max-width:1199px){
    section.contact-us{
        .form{
            button.send{
                font-size: 3vh;
            }
        }
    }
}