$text-color: white;
$font-style-content: Quicksand;
$font-style-heading: Poppins;

@mixin footerContentStyle {
    @include contentFontStyle();
    font-size: 1.5vh;
    padding-top: 2vh;
}
@mixin headerFontStyle {
    font-family: $font-style-heading;
    color: $text-color;
}
@mixin contentFontStyle {
    color: $text-color;
    font-family: $font-style-content;
    font-weight: 400;
}

footer{
    margin-top: 20vh;

    .row{
        border-top: 1px solid white;

        .copyright{
            p{
                @include footerContentStyle();
            }
        }
        .version{
            a{
                @include footerContentStyle();
                float: right;
                text-decoration: none;
            }

            .modal{
                .modal-dialog{
                    .modal-content{
                        background-color: black;
                        border: 1px solid white;
                    }
                    .modal-header{
                        button{
                            border: none;
                            background-color: transparent;
                            color: white;
                            height: 5vh;
                            font-size: 3vh;
                        }
                    }   
                    .modal-body{
                        .row{
                            border: none;
                            margin-top: 3vh;
                            margin-bottom: 3vh;

                            h2{
                                @include headerFontStyle();
                                font-size: 4vh;
                            }
                            h3{
                                @include headerFontStyle();
                                font-size: 2.5vh;
    
                                span{
                                    @include contentFontStyle();
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    
}

@media screen and (max-width:575px){
    footer{
        .copyright{
            p{
                text-align: center;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    footer{
        .copyright{
            p{
                text-align: center;
            }
        }
    }
}