$text-color: white;
$font-style-heading: Poppins;

footer{
    .copyright{
        border-top: 1px solid white;
        margin-top: 20vh;
        p{
            color: $text-color;
            font-family: $font-style-heading;
            font-size: 1.5vh;
            font-weight: 400;
            padding-top: 2vh;
        }
    }
}

@media screen and (max-width:575px){
    footer{
        .copyright{
            p{
                text-align: center;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    footer{
        .copyright{
            p{
                text-align: center;
            }
        }
    }
}