nav {
  background-color: black;
}

nav .container {
  border-bottom: solid 1px white;
}

nav h1 {
  font-family: Poppins;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 0;
}

nav h1 a {
  text-decoration: none;
  color: white;
}

nav h1 a:hover {
  color: #9c9c9c;
}

nav nav.nav {
  border-bottom: none;
}

nav nav.nav a {
  font-size: 2vh;
  font-family: Poppins;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding-left: 15vh;
}

@media screen and (max-width: 575px) {
  nav h1 {
    font-size: 2.5vh;
  }
  nav nav.nav a {
    font-size: 1.5vh;
  }
}
