section.services .title h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 5vh;
  color: white;
  margin-top: 10vh;
  margin-bottom: 12vh;
}

section.services .list-services img {
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.services .list-services h1 {
  font-family: Poppins;
  font-weight: bold;
  color: white;
  font-size: 3vh;
  margin-top: 5vh;
  text-align: center;
}

section.services .list-services p {
  font-family: Quicksand;
  font-size: 2.3vh;
  color: white;
  margin-top: 3vh;
  text-align: center;
  width: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 575px) {
  section.services .title h1 {
    margin-top: 16vh;
    margin-bottom: 8vh;
    text-align: center;
  }
  section.services .list-services img {
    height: 12vh;
    margin-top: 3vh;
  }
  section.services .list-services h1 {
    margin-top: 3vh;
    margin-bottom: 0vh;
  }
  section.services .list-services p {
    font-size: 2.3vh;
    margin-top: 1vh;
    margin-bottom: 7vh;
    width: 25vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.services .title h1 {
    margin-top: 16vh;
    margin-bottom: 8vh;
    text-align: center;
  }
  section.services .list-services img {
    height: 12vh;
    margin-top: 3vh;
  }
  section.services .list-services h1 {
    margin-top: 3vh;
    margin-bottom: 0vh;
  }
  section.services .list-services p {
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 7vh;
    width: 25vh;
  }
}
