$background-color: black;
$text-color: white;
$font-style-content: Quicksand;
$font-style-heading: Poppins;

@mixin titleStyle {
    font-family: $font-style-heading;
    font-weight: bold;
    font-size: 5vh;
    color: $text-color;
    margin-top: 10vh;
    margin-bottom: 12vh;
}
@mixin headingStyle {
    font-family: $font-style-heading;
    font-weight: bold;
    color: $text-color;
}


section.services{
    .title{
        h1{
            @include titleStyle();
        }
    }
    .list-services{
        img{
            height: 20vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            @include headingStyle();
            font-size: 3vh;
            margin-top: 5vh;
            text-align: center;
        }
        p{
            font-family: $font-style-content;
            font-size: 2.3vh;
            color: $text-color;
            margin-top: 3vh;
            text-align: center;
            width: 30vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width:575px){
    section.services{
        .title{
            h1{
                margin-top: 16vh;
                margin-bottom: 8vh;
                text-align: center;
            }
        }
        .list-services{
            img{
                height: 12vh;
                margin-top: 3vh;
            }
            h1{
                margin-top: 3vh;
                margin-bottom: 0vh;
            }
            p{
                font-size: 2.3vh;
                margin-top: 1vh;
                margin-bottom: 7vh;
                width: 25vh;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    section.services{
        .title{
            h1{
                margin-top: 16vh;
                margin-bottom: 8vh;
                text-align: center;
            }
        }
        .list-services{
            img{
                height: 12vh;
                margin-top: 3vh;
            }
            h1{
                margin-top: 3vh;
                margin-bottom: 0vh;
            }
            p{
                font-size: 2vh;
                margin-top: 1vh;
                margin-bottom: 7vh;
                width: 25vh;
            }
        }
    }
}
