section.skill-exp .skills .title h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 5vh;
  color: white;
  margin-top: 10vh;
  margin-bottom: 12vh;
}

section.skill-exp .skills .skill-title {
  margin-bottom: 5vh;
}

section.skill-exp .skills .skill-title h1 {
  font-size: 3.5vh;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  margin: 0;
}

section.skill-exp .skills .tools a {
  font-family: Quicksand;
  text-decoration: none;
  color: white;
  font-size: 2vh;
  font-weight: 400;
  border: solid 1px white;
  padding: 1.5vh;
  border-radius: 1vh;
  margin-right: 2vh;
}

section.skill-exp .skills .tools a.mcss, section.skill-exp .skills .tools a.js, section.skill-exp .skills .tools a.figma, section.skill-exp .skills .tools a.git {
  margin-right: 0;
}

section.skill-exp .skills .des, section.skill-exp .skills .ver {
  margin-top: 10vh;
}

section.skill-exp .exp .title h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 5vh;
  color: white;
  margin-top: 10vh;
  margin-bottom: 12vh;
}

section.skill-exp .exp .exp-date {
  display: none;
  margin-bottom: 7vh;
}

section.skill-exp .exp .exp-date h1 {
  font-size: 2.5vh;
  font-family: Poppins;
  font-weight: 500;
  color: white;
}

section.skill-exp .exp .exp-place {
  margin-bottom: 7vh;
}

section.skill-exp .exp .exp-place h1 {
  font-size: 3.5vh;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5vh;
}

section.skill-exp .exp .exp-place .exp-place-content {
  margin-bottom: 2.5vh;
}

section.skill-exp .exp .exp-place .exp-place-content p {
  font-family: Quicksand;
  color: white;
  font-size: 2.3vh;
  margin: 0;
}

section.skill-exp .exp .exp-place .exp-place-content a {
  color: white;
}

@media screen and (max-width: 575px) {
  section.skill-exp .skills .title h1, section.skill-exp .skills .skill-title h1 {
    text-align: center;
  }
  section.skill-exp .skills .tools p {
    text-align: center;
  }
  section.skill-exp .exp .title h1 {
    text-align: center;
  }
  section.skill-exp .exp .exp-date {
    margin-bottom: 0;
  }
  section.skill-exp .exp .exp-date h1 {
    display: none;
  }
  section.skill-exp .exp .exp-place {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 53vh;
    margin-bottom: 0;
  }
  section.skill-exp .exp .exp-place.kodego {
    margin-bottom: 5vh;
  }
  section.skill-exp .exp .exp-place h1.exp-date {
    display: block;
    font-weight: 400;
    font-size: 2.6vh;
    margin-bottom: 2.5vh;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  section.skill-exp .skills .title h1 {
    margin-top: 20vh;
  }
  section.skill-exp .skills .tools p {
    line-height: 3.5vh;
  }
  section.skill-exp .exp .title h1 {
    margin-top: 20vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.skill-exp .skills .title h1, section.skill-exp .skills .skill-title h1 {
    text-align: center;
  }
  section.skill-exp .skills .tools p {
    text-align: center;
  }
  section.skill-exp .skills .tools span {
    margin-top: 90vh;
  }
  section.skill-exp .exp .title h1 {
    text-align: center;
  }
  section.skill-exp .exp .exp-date {
    margin-bottom: 0;
  }
  section.skill-exp .exp .exp-date h1 {
    display: none;
  }
  section.skill-exp .exp .exp-place {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vh;
    margin-bottom: 0;
  }
  section.skill-exp .exp .exp-place.kodego {
    margin-bottom: 5vh;
  }
  section.skill-exp .exp .exp-place h1.exp-date {
    display: block;
    font-weight: 400;
    font-size: 2.6vh;
    margin-bottom: 2.5vh;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  section.skill-exp {
    margin-top: 5vh;
  }
}
